body {
    background-image: url("http://i.huffpost.com/gen/1405484/images/o-MEDITATION-facebook.jpg");
    background-repeat: no-repeat;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#content {
  margin: 100px auto;
  width: 60%;
}